
/* media query  */
@media only screen and (max-width:688px) {
    body{
        width: 100%;
    }
    .top-section {
        display: grid;
        grid-template-columns: repeat(1fr);
        width: 100%;
        height: auto;
        margin: auto;
        
        
    }
    .first-title .main-title{
        width: 100%;
        height: auto;
        
        
    }
    .top-payer-icon img{
        width: 70%;
        height: auto;
    }
    .second-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
       
  .match-sidebar{
    background-color: white;
    width: 100%;
     
  }
  .all-matches{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  footer{
    width:100% ;
    height: auto;
  }

  footer li{
    display: list-item;
    text-align: center;
    
    
  }

    
}