
/* media query  */
@media only screen and (max-width:688px) {
  
    .top-section {
        display: grid;
        grid-template-columns: repeat(1fr);
        width: 100%;
        height: auto;
        margin-left: 0px;  
        
    }
    .first-title{
      justify-items: center;
      padding-left: 0px;
      
    }

    .first-title .main-title{
        width: 100%;
        height: auto;
        font-Weight: 700;
        font-size: 40px;
        text-align: center;
        padding-right: 5%;
        
    }
        .first-title .top-paragrapg {
          font-size: 16px;
          text
        }
  
    .top-payer-icon img{
        width: 70%;
        height: auto;
        margin-left:90px;
    }
    .second-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        
    }
       
  .match-sidebar{
    background-color: white;
    width: 100%;
     
  }
  .all-matches{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .all-matches .full-match{
    width: 312px;
    
  }
  footer{
    width:100% ;
    height: auto;
  }

  footer li{
    display: list-item;
    text-align: center;
    margin-bottom: 0px;
    
    
  }
  /* second page query  */

  .multiple-match{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    height: auto;
    margin-left: -4%;
    
  }  
}


/* media query for tablet  */


